<footer class="home-page-footer bg-base-200 text-base-content p-10">
  <div class="container flex items-start justify-between">
    <div class="flex flex-col">
      <div class="footer flex items-start space-x-10">
        <nav>
          <h6 class="footer-panel">Về chúng tôi</h6>
          <a class="footer-link">Branding</a>
        </nav>
        <nav>
          <h6 class="footer-panel">Thông tin cần biết</h6>
          <a class="footer-link">About us</a>
          <a class="footer-link">Contact</a>
        </nav>
        <nav>
          <h6 class="footer-panel">Đối tác liên kết</h6>
          <a class="footer-link" href="https://hust.edu.vn/" target="_blank"
            >Đại học Bách khoa Hà Nội</a
          >
        </nav>
      </div>
      <div class="mt-10">
        <div class="flex items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 384 512"
            class="text-xs"
            style="width: 16px"
          >
            <path
              d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"
              fill="#fff"
            />
          </svg>
          <span class="ms-2 footer-contact"
            >Hà Nội: 1 Đ. Đại Cồ Việt, Bách Khoa, Hai Bà Trưng, Hà Nội</span
          >
        </div>
        <p class="mt-1">
          <fa-icon [icon]="faPhone"></fa-icon>
          <span class="ms-2 footer-contact">Phone: 024 3869 4242</span>
        </p>
      </div>
    </div>

    <div class="flex flex-col items-start justify-between">
      <div class="flex items-center mb-4">
        <img
          src="../../../../assets/images/logo-footer.png"
          class="hust-logo me-4"
        />
        <img src="../../../../assets/images/certifi1.png" width="140px" />
      </div>

      <div>
        <p>Bạn cần trợ giúp?<b>Hãy gọi ngay </b></p>
        <p class="mt-2">
          <a
            class="flex items-center cursor-pointer"
            href="https://zalo.me/02438694242"
          >
            <img
              src="../../../../assets/images/zalo-logo.png"
              alt=""
              class="zalo-logo me-1"
            />
            TourWave
          </a>
        </p>
        <p class="mt-2">
          <fa-icon [icon]="faClock"></fa-icon> Từ 7h30 - 21h hằng ngày
        </p>
      </div>
    </div>
  </div>
</footer>
