<div class="tourhome-header flex justify-center items-center">
  <div class="container">
    <app-tour-home-search></app-tour-home-search>
  </div>
</div>
<div class="whyTourWave bg-secondary-section-color py-8">
  <div class="container flex justify-between items-center">
    <div class="flex items-center">
      <img src="../../../assets/images/logo2.jpg" alt="" width="100px" />
      <h2 class="uppercase mb-0" style="margin-bottom: 0">
        Chinh phục một niềm tin
      </h2>
    </div>
    <div class="flex flex-col items-center">
      <img src="../../../assets/images/logo5.png" alt="" width="36px" />
      <span style="font-family: Helvetica">Luôn có giá tốt</span>
    </div>
    <div class="flex flex-col items-center">
      <img src="../../../assets/images/logo4.png" alt="" width="36px" />
      <span>Đảm bảo chất lượng</span>
    </div>
    <div class="flex flex-col items-center">
      <img src="../../../assets/images/logo3.png" alt="" width="36px" />
      <span>Am hiểu tuyến điểm, tận tình chu đáo</span>
    </div>
  </div>
</div>
<section class="hot-tour-section bg-warning-section-color pb-8">
  <div class="container">
    <div class="py-5 text-center">
      <h2 class="page-title tour-section-title">
        Tour Ưu Đãi Tốt Nhất Hôm Nay
      </h2>
      <p class="tour-section-subtitle">
        Nhanh tay chớp cơ hội săn tour giá tốt mỗi ngày!
      </p>
    </div>
    <div class="hot-tour-container grid grid-cols-3 gap-8">
      <div *ngFor="let t of bestTours">
        <app-tour-item [tour]="t"></app-tour-item>
      </div>
    </div>
  </div>
</section>
<section class="hot-tour-section bg-secondary-section-color pb-8">
  <div class="container">
    <div class="py-5 text-center">
      <h2 class="page-title tour-section-title">
        Khám phá địa danh nước ngoài
      </h2>
      <p class="tour-section-subtitle">
        Trải Nghiệm Thế Giới, Khám Phá Bản Thân
      </p>
    </div>
    <div class="hot-tour-container grid grid-cols-3 gap-8">
      <div *ngFor="let t of hotInternationalTours">
        <app-tour-item [tour]="t"></app-tour-item>
      </div>
    </div>
  </div>
</section>

<section class="hot-domestic-tour-section bg-primary-section-color pb-16">
  <div class="container">
    <div class="py-5 text-center">
      <h2 class="tour-section-title">Tour Du Lịch Nội Địa Cao Cấp</h2>
      <p class="tour-section-subtitle">
        <span class="title-group-sub">Chơi Tết Thả Ga, Không Lo Về Giá</span>
      </p>
    </div>
    <div class="hot-tour-container grid grid-cols-3 gap-8">
      <div *ngFor="let t of hotDomesticTours">
        <app-tour-item [tour]="t"></app-tour-item>
      </div>
    </div>
  </div>
</section>
