<div class="tourhome-header flex justify-center items-center">
  <div class="container">
    <app-tour-home-search></app-tour-home-search>
  </div>
</div>
<div class="whyTourWave bg-secondary-section-color py-8">
  <div class="container flex justify-between items-center">
    <div class="flex items-center">
      <img src="../../../assets/images/logo2.jpg" alt="" width="100px" />
      <h2 class="uppercase mb-0" style="margin-bottom: 0">
        Chinh phục một niềm tin
      </h2>
    </div>
    <div class="flex flex-col items-center">
      <img src="../../../assets/images/logo5.png" alt="" width="36px" />
      <span style="font-family: Helvetica">Luôn có giá tốt</span>
    </div>
    <div class="flex flex-col items-center">
      <img src="../../../assets/images/logo4.png" alt="" width="36px" />
      <span>Đảm bảo chất lượng</span>
    </div>
    <div class="flex flex-col items-center">
      <img src="../../../assets/images/logo3.png" alt="" width="36px" />
      <span>Am hiểu tuyến điểm, tận tình chu đáo</span>
    </div>
  </div>
</div>

<section
  class="bg-primary-bg-color pb-8"
  *ngIf="recentVisitedTours && recentVisitedTours.length > 0"
>
  <div class="grid grid-cols-3 gap-8 container">
    <app-tour-recent-item
      (removeRecentTour)="removeRecentTourHandle($event)"
      *ngFor="let tour of recentVisitedTours"
      [tour]="tour"
    ></app-tour-recent-item>
  </div>
</section>

<section class="hot-tour-section bg-warning-section-color pb-8">
  <div class="container">
    <div class="py-5 text-center">
      <h2 class="page-title tour-section-title">
        Tour Ưu Đãi Tốt Nhất Hôm Nay
      </h2>
      <p class="tour-section-subtitle">
        Nhanh tay chớp cơ hội săn tour giá tốt mỗi ngày!
      </p>
    </div>
    <div class="hot-tour-container grid grid-cols-3 gap-8">
      <div *ngFor="let t of bestTours">
        <app-tour-item [tour]="t"></app-tour-item>
      </div>
    </div>
  </div>
</section>
<section class="hot-tour-section bg-secondary-section-color pb-8">
  <div class="container">
    <div class="py-5 text-center">
      <h2 class="page-title tour-section-title">
        Khám phá địa danh nước ngoài
      </h2>
      <p class="tour-section-subtitle">
        Trải Nghiệm Thế Giới, Khám Phá Bản Thân
      </p>
    </div>

    <div class="flex space-x-4" (click)="navigateToTourFinder('Trung Quốc')">
      <div class="tour-link-image w-1/3">
        <img
          src="../../assets/images/locations/trungquoc.jpg"
          alt=""
          style="width: 100%; height: 100%"
        />
        <h1 class="tour-link-image-text">Trung Quốc</h1>
      </div>

      <div class="flex flex-col space-y-4 w-2/3">
        <div
          class="flex items-center space-x-4 h-1/2"
          (click)="navigateToTourFinder('Úc')"
        >
          <div class="tour-link-image w-1/2">
            <img
              src="../../assets/images/locations/uc2.jpg"
              alt=""
              style="width: 100%; height: 100%; object-fit: cover"
            />
            <h1 class="tour-link-image-text">Úc</h1>
          </div>
          <div
            class="tour-link-image w-1/2"
            (click)="navigateToTourFinder('Singapore')"
          >
            <img
              src="../../assets/images/locations/singapo2.jpeg"
              alt=""
              style="width: 100%; height: 237px; object-fit: cover"
            />
            <h1 class="tour-link-image-text">Singapore</h1>
          </div>
        </div>
        <div class="flex items-center space-x-4 h-1/2">
          <div
            class="tour-link-image w-1/2"
            (click)="navigateToTourFinder('Hàn Quốc')"
          >
            <img
              src="../../assets/images/locations/hanquoc2.jpg"
              alt=""
              style="width: 100%; height: 100%; object-fit: cover"
            />
            <h1 class="tour-link-image-text">Hàn Quốc</h1>
          </div>
          <div
            class="tour-link-image w-1/2"
            (click)="navigateToTourFinder('Nhật Bản')"
          >
            <img
              src="../../assets/images/locations/nhatban2.jpg"
              alt=""
              style="width: 100%; height: 237px; object-fit: cover"
            />
            <h1 class="tour-link-image-text">Nhật Bản</h1>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="hot-tour-container grid grid-cols-3 gap-8">
      <div *ngFor="let t of hotInternationalTours">
        <app-tour-item [tour]="t"></app-tour-item>
      </div>
    </div> -->
  </div>
</section>

<section class="hot-domestic-tour-section bg-primary-section-color pb-16">
  <div class="container">
    <div class="py-5 text-center">
      <h2 class="page-title tour-section-title">
        Điểm đến trong nước được ưa thích
      </h2>
      <p class="tour-section-subtitle">
        <span class="title-group-sub">Trải Nghiệm Hành Trình Di Sản </span>
      </p>
    </div>
    <!-- <div class="hot-tour-container grid grid-cols-3 gap-8">
      <div *ngFor="let t of hotDomesticTours">
        <app-tour-item [tour]="t"></app-tour-item>
      </div>
    </div> -->
    <div class="flex space-x-4">
      <div
        class="domestic-tour-link-image"
        (click)="navigateToTourFinder('Sapa')"
      >
        <img src="../../assets/images/locations/sapa.png" alt="" />
        <h1 class="domestic-tour-link-image-text">Sapa</h1>
      </div>
      <div
        class="domestic-tour-link-image"
        (click)="navigateToTourFinder('Ninh Bình')"
      >
        <img
          src="../../assets/images/locations/ninhbinh.jpg"
          alt=""
          style="object-fit: contain !important"
        />
        <h1 class="domestic-tour-link-image-text">Ninh Bình</h1>
      </div>
      <div
        class="domestic-tour-link-image"
        (click)="navigateToTourFinder('Nha Trang')"
      >
        <img
          src="../../assets/images/locations/nhatrang.jpg"
          alt=""
          style="object-fit: contain !important"
        />
        <h1 class="domestic-tour-link-image-text">Nha Trang</h1>
      </div>
      <div
        class="domestic-tour-link-image"
        (click)="navigateToTourFinder('Đà Lạt')"
      >
        <img
          src="../../assets/images/locations/dalat.jpg"
          alt=""
          style="object-fit: contain !important"
        />
        <h1 class="domestic-tour-link-image-text">Đà Lạt</h1>
      </div>
    </div>
  </div>
</section>
