<div class="tourhome-header flex justify-center items-center">
  <div class="container">
    <div class="tourHomeSearchPanel">
      <h1 class="text-white home-title">Thế giới tour trong tay bạn</h1>
      <h2 class="text-white">Phục vụ tận tâm, giá siêu ưu đãi</h2>
      <div class="form-container">
        <div class="search-form">
          <label
            class="input input-bordered flex items-center gap-2 search-box"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 384 512"
              class="text-xs"
              style="width: 20px"
            >
              <path
                d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"
                fill="#494b55"
              />
            </svg>

            <input
              type="text"
              class="grow search-input"
              value=""
              placeholder="Bạn muốn đi đâu"
            />
          </label>
        </div>
        <div class="flex justify-between items-start">
          <!-- <mat-form-field appearance="fill">
            <input matInput [matDatepicker]="picker" />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-label>Ngày khởi hành</mat-label>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field> -->

          <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div class="relative">
            <!-- <mat-form-field>
              <mat-icon>flight_takeoff</mat-icon>
              <mat-label>Khởi hành từ</mat-label>
              <mat-select>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                  {{ food.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field> -->
            <mat-form-field>
              <mat-label>Favorite animal</mat-label>
              <mat-select [formControl]="animalControl" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let animal of animals" [value]="animal">
                  {{ animal.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="animalControl.hasError('required')"
                >Please choose an animal</mat-error
              >
              <mat-hint>{{ animalControl.value?.sound }}</mat-hint>
            </mat-form-field>
          </div>
          <button class="btn btn-search" style="height: 56px">Tìm</button>
        </div>
        <div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="whyTourWave bg-secondary-section-color py-8">
  <div class="container flex justify-between items-center">
    <div class="flex items-center">
      <img src="../../../assets/images/logo2.jpg" alt="" width="100px" />
      <h2 class="uppercase mb-0" style="margin-bottom: 0">
        Chinh phục một niềm tin
      </h2>
    </div>
    <div class="flex flex-col items-center">
      <img src="../../../assets/images/logo5.png" alt="" width="36px" />
      <span style="font-family: Helvetica">Luôn có giá tốt</span>
    </div>
    <div class="flex flex-col items-center">
      <img src="../../../assets/images/logo4.png" alt="" width="36px" />
      <span>Đảm bảo chất lượng</span>
    </div>
    <div class="flex flex-col items-center">
      <img src="../../../assets/images/logo3.png" alt="" width="36px" />
      <span>Am hiểu tuyến điểm, tận tình chu đáo</span>
    </div>
  </div>
</div>
<section class="hot-tour-section bg-warning-section-color pb-8">
  <div class="container">
    <div class="py-5 text-center">
      <h2 class="tour-section-title">Tour Ưu Đãi Tốt Nhất Hôm Nay</h2>
      <p class="tour-section-subtitle">
        Nhanh tay chớp cơ hội săn tour giá tốt mỗi ngày!
      </p>
    </div>
    <div class="hot-tour-container grid grid-cols-3 gap-8">
      <div *ngFor="let t of bestTours">
        <app-tour-item [tour]="t"></app-tour-item>
      </div>
    </div>
  </div>
</section>
<section class="hot-tour-section bg-secondary-section-color pb-8">
  <div class="container">
    <div class="py-5 text-center">
      <h2 class="tour-section-title">Tour Du Lịch Nước Ngoài Cao Cấp</h2>
      <p class="tour-section-subtitle">
        Trải Nghiệm Thế Giới, Khám Phá Bản Thân
      </p>
    </div>
    <div class="hot-tour-container grid grid-cols-3 gap-8">
      <div *ngFor="let t of hotInternationalTours">
        <app-tour-item [tour]="t"></app-tour-item>
      </div>
    </div>
  </div>
</section>

<section class="hot-domestic-tour-section bg-primary-section-color pb-8">
  <div class="container">
    <div class="py-5 text-center">
      <h2 class="tour-section-title">Tour Du Lịch Nội Địa Cao Cấp</h2>
      <p class="tour-section-subtitle">
        <span class="title-group-sub">Chơi Tết Thả Ga, Không Lo Về Giá</span>
      </p>
    </div>
    <div class="hot-tour-container grid grid-cols-3 gap-8">
      <div *ngFor="let t of hotDomesticTours">
        <app-tour-item [tour]="t"></app-tour-item>
      </div>
    </div>
  </div>
</section>
