.tourhome-header {
  background-image: url("../../assets/images/banner1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 500px; */
}

@media only screen and (min-width: 320px) {
  .tourhome-header {
    height: 472px;
    padding: 30px 0 0;
  }
  .btn-search {
    width: 50px;
  }
}

@media only screen and (min-width: 768px) {
  .tourhome-header {
    height: 492px;
    padding: 50px 0px;
  }
  .btn-search {
    width: 70px;
  }
}

@media only screen and (min-width: 1200px) {
  .tourhome-header {
    height: 520px;
    padding: 50px 0px;
  }
  .btn-search {
    width: 100px;
  }
}
.tour-link-image {
  position: relative;
  overflow: hidden;
}
.tour-link-image:hover {
  box-shadow: 0 0 4px 2px #2196f3;
}

.tour-link-image img {
  object-fit: cover;
  max-width: unset;
  height: auto;
  cursor: pointer;
  transition: all 0.4s ease;
  -moz-box-shadow: 0 0 4px #ccc;
  -webkit-box-shadow: 0 0 4px #ccc;
  box-shadow: 0 0 4px #ccc;
}

.tour-link-image img:hover,
.domestic-tour-link-image img:hover {
  opacity: 0.9;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.tour-link-image .tour-link-image-text,
.domestic-tour-link-image-text {
  position: absolute;
  font-weight: bold;
  font-size: 26px;
  color: #fff;
  bottom: 10px;
  left: 10px;
}

.domestic-tour-link-image img {
  object-fit: contain !important;
  width: 309px;
  height: 100%;
  cursor: pointer;
  transition: all 0.4s ease;
  -moz-box-shadow: 0 0 4px #ccc;
  -webkit-box-shadow: 0 0 4px #ccc;
  box-shadow: 0 0 4px #ccc;
}
.domestic-tour-link-image {
  position: relative;
  overflow: hidden;
}
.domestic-tour-link-image:hover {
  box-shadow: 0 0 4px 2px #2196f3;
}
