/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #9d1d1e;
  --secondary-color: #c02135;
  --primary-bg-color: linear-gradient(to right, #9d1d1e 0%, #9d1d1e 100%);
  --secondary-bg-color: linear-gradient(to right, #c02135 0%, #c02135 100%);
  --warning-color: #f79321;
  --primary-section-color: #ecf0f5;
  --secondary-section-color: #f6f8fa;
  --warning-section-color: #feeec7;
  --sky-color: #03d8f9;
  --blender-sky-color: #26bed6;
  --scream-color: #fff4e6;
  --yellow-scream-color: #ffebdc;
  --orange-color: #ffbd00;
  --text-primary-color: #003c71;
}

@layer base {
  html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

@layer utilities {
  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      max-width: 750px !important;
    }
  }
  @media (min-width: 992px) {
    .container {
      max-width: 970px !important;
    }
  }
  @media (min-width: 1280px) {
    .container {
      max-width: 1070px !important;
    }
  }
}

html,
body {
  height: 100%;
}
@font-face {
  font-family: "Helvetica";
  src: url("assets/fonts/Helvetica/Helvetica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif !important;
  color: #3f3b3b;
}

.content-wapper {
  /* margin-top: 50px;
  padding-bottom: 50px; */
}

.page-title {
  font-size: 32px;
  color: var(--text-primary-color);
  margin-top: 0px;
  margin-bottom: 15px;
  font-weight: bolder;
  line-height: 1.03;
}
.page-title-2 {
  font-size: 24px;
  color: var(--text-primary-color);
  margin-top: 0px;
  margin-bottom: 15px;
  font-weight: bolder;
  line-height: 1.03;
}

.page-title-3 {
  font-size: 20px;
  color: var(--text-primary-color);
  margin-top: 0px;
  margin-bottom: 15px;
  font-weight: bolder;
  line-height: 1.03;
}
.page-subtitle {
  padding: 10px 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #3f3b3b;
  line-height: 1.5;
}

/* Ngx Gallery */
.mat-sidenav-container,
.mat-sidenav-content,
.mat-tab-body-content {
  transform: none !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
}

/* BreadScrum */
.xng-breadcrumb-root {
  margin: 0px 0px 12px 0px !important;
}

.xng-breadcrumb-item {
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555863;
}

.btn-primary-tour {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.5s ease;
}

.btn-default-app {
  transition: all 0.5s;
  height: 40px;
  min-width: 90px;
  padding: 0 10px;
  border-radius: 4px;
  color: black;
  border: solid 1px #bdbdbd;
  background-color: white;
  margin: auto;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.btn-primary-tour:hover {
  background-color: var(--secondary-color);
}

.font-primary {
  font-family: Helvetica, Arial, sans-serif !important;
}

.fz-14 {
  font-size: 14px;
}

.fz-16 {
  font-size: 16px;
}

.fz-18 {
  font-size: 18px;
}

.fz-20 {
  font-size: 20px;
}

.common-wrapper {
  padding: 85px 0 60px;
  background-color: var(--primary-section-color);
  min-height: calc(100vh - 268px);
}
