# OS junk files
[Tt]humbs.db
*.DS_Store

# Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.pyc
*.xml
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

# Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

# Project files
[Bb]uild/

# Subversion files
.svn

# Microsoft Office temporary files
~$*
# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
# Node
/node_modules
npm-debug.log
yarn-error.log
# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
# System files
.DS_Store
Thumbs.d
.vs/GraduationProject/config/applicationhost.config
.vs/GraduationProject/DesignTimeBuild/.dtbcache.v2
.vs/GraduationProject/FileContentIndex/a02bc4ea-8c3c-419b-8e80-958a15417031.vsidx
.vs/ProjectEvaluation/graduationproject.metadata.v7.bin
.vs/ProjectEvaluation/graduationproject.projects.v7.bin
.vs/GraduationProject/v17/.futdcache.v2
.vsidx
.vs/GraduationProject/FileContentIndex/3a20e418-a305-46a9-93e5-6c1528578c9d.vsidx
.vs/GraduationProject/FileContentIndex/74fc7842-77f8-4e92-ac29-c13cda6d8e76.vsidx
.vs/GraduationProject/FileContentIndex/.vsidx
*.vsidx

