.tour-finder-search-wrapper {
  padding: 70px 16px 0px;
  background-color: #e8ebed;
  margin-bottom: 20px;
  border-radius: 4px;
}
.search-form {
  margin-bottom: 21px;
  flex: 1;
  margin-right: 20px;
}
.search-form .search-input {
  font-size: 15px;
  font-weight: 600 !important;
}

.search-box {
  padding: 0px 15px;
  height: 52px;
}

::ng-deep .mat-datepicker-input,
::ng-deep .mat-mdc-select-min-line,
::ng-deep .search-form mat-label,
.search-input::placeholder,
.search-form .search-input,
::ng-deep .tour-finder-search-wrapper .mat-mdc-form-field-infix label {
  font-size: 15px !important;
  font-family: "Helvetica", Arial, sans-serif !important;
}
::ng-deep
  .tour-finder-search-wrapper
  .mat-mdc-text-field-wrapper
  .mat-mdc-form-field-flex
  .mat-mdc-form-field-icon-suffix {
  position: absolute !important;
  left: 0px;
}

::ng-deep
  .tour-finder-search-wrapper
  .mat-mdc-text-field-wrapper
  .mat-mdc-form-field-flex
  .mat-mdc-form-field-infix {
  margin-left: 35px;
}

::ng-deep .tour-finder-search-wrapper .mat-mdc-form-field-subscript-wrapper {
  margin-left: 40px;
  color: #ffffff;
}

::ng-deep .tour-finder-search-wrapper .material-icons {
  position: absolute;
  left: -40px;
  top: 17px;
  color: #494b55;
}

::ng-deep .tour-finder-search-wrapper .mat-mdc-option {
  margin-left: 40px;
}

.btn-search {
  height: 52px;
  background: var(--primary-bg-color);
  color: #ffffff;
  padding: 0 34px;
}
.btn-search:hover {
  background: var(--secondary-bg-color);
}

.tour-section-title {
  font-size: 32px;
  font-weight: bold;
  color: #3f3b3b;
  margin-bottom: 6px;
}

.tour-section-subtitle {
  font-size: 16px;
  font-weight: normal;
  color: #717484;
  display: block;
  margin-bottom: 22px;
}

.location-menu-wrapper,
.search-result-wrapper {
  background-color: #ffffff;
  padding: 15px;
  width: 167%;
  margin-top: 3px;
  top: 100%;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 0px;
  color: #494b55;
  border-radius: 4px;
  left: 0;
}
.search-result-wrapper {
  padding: 10px 0px;
}
.location-menu-wrapper .title {
  margin-bottom: 10px;
  font-weight: bold;
  color: #003c71;
  font-size: 14px;
}

.location-menu-wrapper .location-picture {
  width: 60px;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.location-menu-wrapper .location-name {
  color: #494b55;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 16px;
}

.location-menu-wrapper .location-count {
  color: #003c71;
  font-size: 14px;
}

.location-menu-wrapper .location-menu > div {
  cursor: pointer;
  transition: all 5ms ease;
}

.location-menu-wrapper .location-menu > div:hover {
  background-color: #dfe4e9;
}

.search-result-item {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: #494b55;
  padding: 6px 15px;
  margin-bottom: 4px;
  font-size: 14px;
}
.search-result-item:hover {
  /* background: rgba(73, 75, 85, 0.1); */
  background-color: rgba(64, 166, 242, 0.1);

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

::ng-deep .form-container .mat-mdc-text-field-wrapper {
  max-height: 52px !important;
  border-radius: 6px !important;
}

.mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined)
  .mat-mdc-form-field-infix {
  padding-top: 22px;
  /* padding-bottom: 8px; */
}

.text-search-note {
  padding: 6px 15px;
  background-color: rgba(204, 204, 204, 0.27);
  text-transform: uppercase;
  font-size: 14px;
  color: var(--primary-color);
}
