<header
  class="flex justify-center items-center main-header z-50"
  [ngStyle]="navbg"
  [class.hidden]="isHidden"
  id="main-header"
>
  <nav
    class="navbar flex justify-between items-center container"
    style="padding-top: 0; padding-bottom: 0"
  >
    <a href="">
      <img src="../../../assets/images/logo.png" alt="" width="48px" />
      <div style="margin-left: 40px">
        <ul class="flex justify-between items-center nav space-x-4 nav-link">
          <li><a routerLink="/tours" routerLinkActive="active">Tours</a></li>
          <li>
            <a routerLink="/recommend" routerLinkActive="active">Gợi ý</a>
          </li>
          <li *ngIf="user">
            <a routerLink="/trips" routerLinkActive="active"
              >Chuyến đi của tôi</a
            >
          </li>
          <li
            *ngIf="
              user &&
              user.roles &&
              (user?.roles?.includes('Admin') ||
                user?.roles?.includes('Moderator'))
            "
          >
            <a routerLink="/management" routerLinkActive="active">Quản lý</a>
          </li>
          <!-- <li><a>Vé máy bay</a></li>
          <li><a>Vé vui chơi</a></li>
          <li><a>Vé tàu</a></li> -->
        </ul>
      </div>
    </a>
    <div class="contact">
      <div class="flex justify-between items-center">
        <div class="mr-3 flex justify-between items-center">
          <span>
            <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <path
                d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464l349.5 0c-8.9-63.3-63.3-112-129-112l-91.4 0c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304l91.4 0C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7L29.7 512C13.3 512 0 498.7 0 482.3z"
              />
            </svg> -->
          </span>
          <button mat-button [matMenuTriggerFor]="menu">
            <div class="flex items-center">
              <img
                src="../.././../../assets/images/avatar-default-white.svg"
                alt=""
              />
              <fa-icon
                [icon]="faAngleDown"
                style="color: #fff; margin-left: 4px; font-size: 16px"
              ></fa-icon>
            </div>
          </button>

          <mat-menu #menu="matMenu">
            <div class="menu-container" *ngIf="user == null">
              <button class="btn-signup" routerLink="/auth/register">
                Đăng ký
              </button>
              <div class="menu-txt">
                <p style="line-height: 1">Quý khách đã có tài khoản?</p>
                <a (click)="loginBtnClick()">Đăng nhập ngay</a>
              </div>
            </div>
            <div class="othermenu" *ngIf="user != null">
              <!-- <ul>
                <li>
                  <a [routerLink]="'auth/profile'">Hồ sơ của tôi</a>
                </li>
                <li>
                  <a href="">Nhận xét của tôi</a>
                </li>
              </ul> -->
              <div class="w-full flex justify-center items-center mt-2">
                <button
                  class="btn-logout"
                  routerLink="/tours"
                  (click)="logout()"
                >
                  Đăng xuất
                </button>
              </div>
            </div>
          </mat-menu>
        </div>
        <div class="hotline flex flex-col justify-end">
          <a class="hotline-link" href="tel:02839338002">
            <fa-icon [icon]="faPhone"></fa-icon>
            (024) 3869 4242
          </a>
          <div class="flex justify-end text-white" style="font-size: 12px">
            <fa-icon [icon]="faClock" class="mx-2"></fa-icon>
            7h30
            <fa-icon [icon]="faArrowRight" class="mx-2"></fa-icon>
            21h
            <fa-icon [icon]="faLocationArrow" class="mx-2"></fa-icon>
            Hà Nội
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
