.main-header {
  max-height: 54px;
  position: fixed;
  width: 100%;
}

.main-header .navbar .nav > li > a {
  color: #fff;
}

.main-header .navbar {
  min-width: 40px !important;
}

.main-header .navbar .hotline .hotline-link {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -1px;
  text-decoration: none;
  color: var(--yellow-scream-color);
}
@media only screen and (min-width: 320px) {
  .main-header .navbar ul.nav > li > a {
    font-size: 14px;
  }
  .navbar .nav-link > li > a {
    padding: 10px 10px;
  }
}
@media only screen and (min-width: 768px) {
  .main-header .navbar ul.nav > li > a {
    font-size: 16px;
  }
  .navbar .nav-link > li > a {
    padding: 11px 10px;
  }
}

@media only screen and (min-width: 1200px) {
  .main-header .navbar ul.nav > li > a {
    font-size: 18px;
  }
  .navbar .nav-link > li > a {
    padding: 12px 10px;
  }
}

.navbar .nav-link > li > a {
  display: inline-block;
  cursor: pointer;
  transition: all 5ms ease;
}

.navbar .nav-link > li > a.active {
  /* color: orange !important; */
  /* color: rgb(245, 64, 103) !important; */
  color: var(--sky-color) !important;
}

.navbar ul.nav > li > a.active,
.navbar .nav-link > li > a:hover {
  /* border-bottom: 2px solid #ffbd00; */
  border-bottom: 2px solid var(--scream-color);
}

.navbar .nav-link > li > a:hover:not(.active) {
  opacity: 0.65;
}
