<div class="schedules">
  <div class="flex justify-between items-center">
    <h2 class="page-subtitle">Lịch khởi hành & giá tour</h2>
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Ngày khởi hành</mat-label>
        <input
          [min]="minDate"
          [max]="maxDate"
          matInput
          [matDatepicker]="picker"
          [(ngModel)]="selectedDate"
          (dateChange)="onDateChange($event)"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <table
    mat-table
    [dataSource]="schedules"
    matSort
    class="mat-elevation-z8 demo-table"
  >
    <!-- Position Column -->
    <ng-container matColumnDef="Ngày khởi hành">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ngày khởi hành</th>
      <td mat-cell *matCellDef="let element">
        {{ element.departureDate | date : "EEEEE, dd/MM/YYYY" }}
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Ngày về">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ngày về</th>
      <td mat-cell *matCellDef="let element">
        {{ element.returnDate | date : "EEEEE, dd/MM/YYYY" }}
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Tình trạng chỗ">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tình trạng chỗ</th>
      <td mat-cell *matCellDef="let element">
        {{
          element.remainingSpot == 0
            ? "Hết chỗ"
            : element.remainingSpot < 8
            ? "Liên hệ"
            : "Còn " + element.remainingSpot + " chỗ"
        }}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Giá">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Giá</th>
      <td mat-cell *matCellDef="let element">
        {{ price | currency : "VND" : "symbol" : "1.0-0" }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="OnRowClicked(row)"
      [class.row-is-clicked]="clickedRows.has(row)"
    ></tr>
  </table>

  <!-- <div>
    <h3>Click Log</h3>
  </div> -->

  <!-- <div *ngIf="!clickedRows.size">Clicked rows will be logged here</div>

  <ul>
    <li *ngFor="let clickedRow of clickedRows">
      Clicked on {{ clickedRow.departureDate }}
    </li>
  </ul> -->
</div>
