<div>
  <div class="mb-8">
    <div class="flex sidebar-title">
      <svg
        style="width: 20px"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></g>
        <g id="SVGRepo_iconCarrier">
          <path
            d="M6 3L6 21M6 3L10 7M6 3L2 7"
            stroke="#000000"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
          <path
            d="M18 21L18 3M18 21L22 17M18 21L14 17"
            stroke="#000000"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
        </g>
      </svg>
      <span style="margin-left: 12px">Sắp xếp theo</span>
    </div>
    <div class="sidebar-box">
      <div class="flex items-center mb-3">
        <input
          type="radio"
          name="sort"
          class="radio radio-info"
          checked="checked"
          id="priceAsc"
        />
        <label for="priceAsc" class="ms-2">Giá: Thấp đến cao</label>
      </div>
      <div class="flex items-center">
        <input
          type="radio"
          name="sort"
          class="radio radio-info"
          id="priceDes"
        />
        <label for="priceDesc" class="ms-2">Giá: Cao đến thấp</label>
      </div>
    </div>
  </div>

  <div class="mb-8">
    <div class="flex sidebar-title">
      <svg
        style="width: 20px"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></g>
        <g id="SVGRepo_iconCarrier">
          <path d="M0 3H16V1H0V3Z" fill="#000000"></path>
          <path d="M2 7H14V5H2V7Z" fill="#000000"></path>
          <path d="M4 11H12V9H4V11Z" fill="#000000"></path>
          <path d="M10 15H6V13H10V15Z" fill="#000000"></path>
        </g>
      </svg>
      <span style="margin-left: 12px">Bộ lọc</span>
    </div>
    <div class="sidebar-box">
      <p
        style="
          font-size: 15px;
          color: var(--text-primary-color);
          margin-bottom: 7px;
        "
      >
        Mức giá trong khoảng
      </p>
      <div class="flex items-center mb-3">
        <input type="radio" name="price" class="radio radio-info" id="price1" />
        <label for="price1" class="ms-2">Từ 1 triệu đến 5 triệu </label>
      </div>
      <div class="flex items-center">
        <input type="radio" name="price" class="radio radio-info" id="price2" />
        <label for="price2" class="ms-2">Trên 15 triệu</label>
      </div>
    </div>
  </div>

  <div class="mb-8">
    <div class="flex sidebar-title">
      <span>Tour HOT Nước Ngoài</span>
    </div>
    <div class="sidebar-box">
      <ul>
        <li class="tour-link">
          <a class="no-underline" (click)="OnclickTourSidebar('Trung Quốc')"
            >Trung Quốc</a
          >
        </li>
        <li class="tour-link">
          <a class="no-underline" (click)="OnclickTourSidebar('Thái Lan')"
            >Thái Lan</a
          >
        </li>
        <li class="tour-link">
          <a class="no-underline" (click)="OnclickTourSidebar('Nhật Bản')"
            >Nhật Bản</a
          >
        </li>
        <li class="tour-link">
          <a class="no-underline" (click)="OnclickTourSidebar('Singapore')"
            >Singapore</a
          >
        </li>
        <li class="tour-link">
          <a class="no-underline" (click)="OnclickTourSidebar('Úc')">Úc</a>
        </li>
        <li class="tour-link">
          <a class="no-underline" (click)="OnclickTourSidebar('Hàn Quốc')"
            >Hàn Quốc</a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="">
    <div class="flex sidebar-title">
      <span>Tour HOT Trong Nước</span>
    </div>
    <div class="sidebar-box">
      <ul>
        <li class="tour-link" (click)="OnclickTourSidebar('Ninh Bình')">
          <a class="no-underline">Ninh Bình</a>
        </li>
        <li class="tour-link" (click)="OnclickTourSidebar('Nha Trang')">
          <a class="no-underline">Nha Trang</a>
        </li>
        <li class="tour-link" (click)="OnclickTourSidebar('Đà Nẵng')">
          <a class="no-underline">Đà Nẵng</a>
        </li>
        <li class="tour-link" (click)="OnclickTourSidebar('Phú Quốc')">
          <a class="no-underline">Phú Quốc</a>
        </li>
        <li class="tour-link" (click)="OnclickTourSidebar('Đà Lạt')">
          <a class="no-underline">Đà Lạt</a>
        </li>
        <li class="tour-link" (click)="OnclickTourSidebar('Hà Nội')">
          <a class="no-underline">Hà Nội</a>
        </li>
      </ul>
    </div>
  </div>
</div>
