<app-tour-detail-navbar></app-tour-detail-navbar>
<div class="bg-primary-section-color" *ngIf="tourDetail">
  <div class="container tour-item-wrapper">
    <xng-breadcrumb></xng-breadcrumb>
    <h1 class="page-title">
      <b>{{ tourDetail.title }}</b>
    </h1>
    <div class="flex items-start relative">
      <div class="w-2/3">
        <div class="tour-gallery tour-content-wrapper" id="tour-gallery">
          <gallery [items]="images" class="gallery"></gallery>
        </div>
        <div
          class="tour-utilities mt-4 tour-content-wrapper"
          id="tour-overview"
        >
          <div
            class="depature-place flex justify-between items-center border-b-2 pb-3"
          >
            <div class="flex">
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 384 512"
                  class="text-xs"
                  style="width: 16px"
                >
                  <path
                    d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"
                    fill="#494b55"
                  /></svg
              ></span>
              <span class="ms-1"
                >Khởi hành từ:<b class="ms-1">{{ tourDetail.departure }}</b>
              </span>
            </div>
            <span class="card-transport space-x-2">
              <span *ngIf="tourDetail.duration.includes('1')"
                ><fa-icon [icon]="faPlane"></fa-icon
              ></span>
              <span *ngIf="tourDetail.duration.includes('2')">
                <fa-icon [icon]="faCar"></fa-icon
              ></span>
              <span *ngIf="tourDetail.duration.includes('3')"
                ><fa-icon [icon]="faTrain"></fa-icon
              ></span>
            </span>
            <span
              >Mã Tour:
              <b style="font-size: 18px" class="ms-1"
                >TO{{ tourDetail.tourCode }}</b
              ></span
            >
          </div>
          <div class="mt-4">
            <h2 class="page-subtitle">Tour Trọn Gói bao gồm</h2>
            <div class="grid grid-cols-3 mt-4">
              <span *ngFor="let utility of tourDetail.utilities"
                ><fa-icon [icon]="faCheck" style="color: #26bed6"></fa-icon>
                <span class="ms-2">{{ utility }}</span></span
              >
            </div>
          </div>
        </div>
        <div class="tour-description mt-4 tour-content-wrapper">
          <h2 class="page-subtitle">Trải nghiệm thú vị trong tour</h2>
          <div [innerHTML]="tourDetail.description"></div>
          <div>
            <ul>
              <li class="fz-16 mt-2" *ngIf="tourDetail.topPlaces.length > 0">
                <b class="me-1">Điểm tham quan:</b
                >{{ tourDetail.topPlaces.join(", ") }}
              </li>
              <li class="fz-16 mt-2" *ngIf="tourTypeStr != ''">
                <b class="me-1">Chủ đề:</b>{{ tourTypeStr }}
              </li>
            </ul>
          </div>
        </div>
        <div
          class="tour-itineraries mt-4 tour-content-wrapper"
          id="tour-itineraries"
        >
          <div class="flex justify-between items-center">
            <h2 class="page-subtitle">Chương trình tour</h2>
            <div>
              <button mat-button (click)="toggleAccordion(panelOpenState)">
                {{ panelOpenState == false ? "Xem tất cả" : "Thu gọn" }}
              </button>
            </div>
          </div>

          <mat-accordion class="example-headers-align" multi>
            <div
              class="itinerary-item-wrapper"
              *ngFor="let itinerary of tourDetail.itineraries"
            >
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <div class="flex items-center">
                      <img
                        *ngIf="itinerary.images.length > 0"
                        src="{{ itinerary.images[0].url }}"
                        alt=""
                        class="avatar-small"
                      />
                      <div
                        class="flex flex-col items-start"
                        style="margin-left: 15px"
                      >
                        <span class="day-text">{{ itinerary.timeTravel }}</span>
                        <span class="itinerary-title">{{
                          itinerary.title
                        }}</span>
                      </div>
                    </div>
                  </mat-panel-title>
                  <mat-panel-description> </mat-panel-description>
                </mat-expansion-panel-header>

                <div>
                  <div [innerHTML]="itinerary.content">
                    <!-- <p >{{ itinerary.content }}</p> -->
                  </div>
                  <figure
                    *ngFor="let image of itinerary.images"
                    style="margin-top: 24px"
                  >
                    <img
                      *ngIf="image.url"
                      src="{{ image.url }}"
                      alt="{{ image.caption ?? 'image' }}"
                      style="width: 100%"
                    />
                    <figcaption class="text-center mt-4">
                      <p>{{ image.caption ?? "" }}</p>
                    </figcaption>
                  </figure>
                </div>
              </mat-expansion-panel>
            </div>

            <!-- <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title> Day of the trip </mat-panel-title>
                <mat-panel-description>
                  Inform the date you wish to travel
                  <mat-icon>date_range</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>

              <mat-form-field>
                <mat-label>Date</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  (focus)="picker.open()"
                  readonly
                />
              </mat-form-field>
              <mat-datepicker #picker></mat-datepicker>
            </mat-expansion-panel> -->
          </mat-accordion>
        </div>
        <div
          class="tour-schedules mt-4 tour-content-wrapper"
          id="tour-schedules"
        >
          <app-tour-detail-schedule
            (selectedRowChange)="selectedRowChangeSchedulesHandle($event)"
            [schedules]="tourDetail.schedules"
            (departureDateChange)="departureDateChangeHandle($event)"
            [price]="tourDetail.priceAdult"
          ></app-tour-detail-schedule>
        </div>
        <div class="tour-notes mt-4 tour-content-wrapper" id="tour-notices">
          <app-tour-detail-notice></app-tour-detail-notice>
        </div>

        <div
          class="tour-reviews mt-4 tour-content-wrapper"
          id="tour-reviews"
          *ngIf="reviews.length > 0"
        >
          <app-tour-detail-review
            [reviews]="reviews"
            [tourId]="tourDetail.id"
            [tourTitle]="tourDetail.title"
            [canReview]="canReview"
          ></app-tour-detail-review>
        </div>
      </div>

      <!-- Tour sidebar -->
      <div #toursidebar>
        <div class="tour-sidebar ml-6 flex-1">
          <h2 class="tour-sidebar-title">Lịch Trình và Giá Tour</h2>
          <p class="tour-sidebar-subtitle">Chọn Lịch Trình và Xem Giá:</p>
          <div class="flex items-center justify-between space-x-4 mb-3">
            <div
              *ngIf="firstBoxWhiteDate != null"
              class="box-white active"
              #boxwhite
              [class.active]="
                firstBoxWhiteDate?.toDateString() ==
                this.selectedDate.toDateString()
              "
              (click)="onBoxWhiteClick(1)"
            >
              {{
                firstBoxWhiteDate == null
                  ? ""
                  : (firstBoxWhiteDate | date : "dd/MM")
              }}
            </div>
            <div
              class="box-white"
              #boxwhite
              *ngIf="secondBoxWhiteDate != null"
              [class.active]="
                secondBoxWhiteDate?.toDateString() ==
                this.selectedDate.toDateString()
              "
              (click)="onBoxWhiteClick(2)"
            >
              {{
                secondBoxWhiteDate == null
                  ? ""
                  : (secondBoxWhiteDate | date : "dd/MM")
              }}
            </div>
            <div
              class="box-white"
              #boxwhite
              *ngIf="thirdBoxWhiteDate != null"
              [class.active]="
                thirdBoxWhiteDate?.toDateString() ==
                this.selectedDate.toDateString()
              "
              (click)="onBoxWhiteClick(3)"
            >
              {{
                thirdBoxWhiteDate == null
                  ? ""
                  : (thirdBoxWhiteDate | date : "dd/MM")
              }}
            </div>
            <div class="relative">
              <mat-form-field class="example-full-width relative">
                <input
                  matInput
                  [matDatepicker]="picker"
                  [min]="minDate"
                  [max]="maxDate"
                  [(ngModel)]="selectedDate"
                  (dateChange)="dateChangeSidebar($event)"
                  #myInputDatePicker
                />
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker [dateClass]="dateClass">
                </mat-datepicker>
              </mat-form-field>
              <!-- <p
                class="absolute"
                style="top: 0px; left: 8px; color: var(--sky-color)"
              >
                Tất cả
              </p> -->
            </div>

            <!-- <mat-form-field class="example-full-width">
              <mat-label>Choose a date</mat-label>
              <input
                matInput
                [matDatepicker]="picker1"
                [min]="minDate"
                [max]="maxDate"
              />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker1"
              ></mat-datepicker-toggle>
              <mat-datepicker touchUi #picker1></mat-datepicker>
            </mat-form-field> -->
          </div>
          <div
            class="box-white mb-3 quantity-ajust flex justify-between items-center"
          >
            <div class="flex flex-col">
              <span class="person-type">Người lớn</span>
              <span class="person-age">> 10 tuổi</span>
            </div>
            <div class="price">
              {{
                adultNumber > 0
                  ? "x " +
                    (tourDetail.priceAdult
                      | currency : "VND" : "symbol" : "1.0-0")
                  : ""
              }}
            </div>
            <div class="flex items-center">
              <button class="m-1 p-1" (click)="decrement('adult')">
                <fa-icon [icon]="faMinus"></fa-icon>
              </button>
              <p class="adult-quantity">{{ adultNumber }}</p>
              <button class="m-1 p-1">
                <fa-icon [icon]="faPlus" (click)="increment('adult')"></fa-icon>
              </button>
            </div>
          </div>
          <div
            class="box-white mb-3 quantity-ajust flex justify-between items-center"
          >
            <div class="flex flex-col">
              <span class="person-type">Trẻ em</span>
              <span class="person-age">2 - 10 tuổi</span>
            </div>
            <div class="price">
              {{
                childNumber > 0
                  ? "x " +
                    (tourDetail.priceChild
                      | currency : "VND" : "symbol" : "1.0-0")
                  : ""
              }}
            </div>
            <div class="flex items-center">
              <button class="m-1 p-1">
                <fa-icon
                  [icon]="faMinus"
                  (click)="decrement('child')"
                ></fa-icon>
              </button>
              <p class="adult-quantity">
                {{ childNumber }}
              </p>
              <button class="m-1 p-1">
                <fa-icon [icon]="faPlus" (click)="increment('child')"></fa-icon>
              </button>
            </div>
          </div>
          <!-- <div class="box-white mb-3"></div> -->
          <p class="text-sky-color mb-5">
            <fa-icon [icon]="faInfo"></fa-icon> Liên hệ để xác nhận đặt chỗ
          </p>
          <div class="flex items-center justify-between mb-4">
            <p>Tổng Giá Tour</p>
            <p class="text-orange-color total-price">
              {{ totalPrice | currency : "VND" : "symbol" : "1.0-0" }}
            </p>
          </div>
          <div
            class="sidebar-actions flex justify-between items-center mb-4 space-x-4"
          >
            <button class="reachout-btn w-1/2" (click)="openDialog()">
              Liên hệ tư vấn
            </button>
            <button class="booking-btn w-1/2" (click)="bookingTour()">
              Yêu cầu đặt
            </button>
          </div>
        </div>

        <div
          class="bg-shadow"
          [class.show]="showBlackBackGround"
          (click)="showBlackBackGround = false"
        ></div>
      </div>
    </div>

    <div
      class="related-tour-wrapper tour-content-wrapper py-9 mt-5"
      *ngIf="relatedTours && relatedTours.length > 0"
    >
      <p style="margin-bottom: 10px; font-size: 17px">
        Tour du lịch {{ tourDetail.destination }} liên quan
      </p>
      <div class="grid grid-cols-3 gap-x-5">
        <app-tour-related-item
          *ngFor="let tour of relatedTours"
          [tour]="tour"
        ></app-tour-related-item>
      </div>
    </div>

    <div
      class="recent-visted-tour-wrapper tour-content-wrapper py-9 mt-5"
      *ngIf="recentVistedTours && recentVistedTours.length > 0"
    >
      <p style="margin-bottom: 10px; font-size: 17px">
        Tour du lịch bạn đã xem gần đây
      </p>
      <div class="grid grid-cols-3 gap-x-5">
        <app-tour-related-item
          *ngFor="let tour of recentVistedTours"
          [tour]="tour"
        ></app-tour-related-item>
      </div>
    </div>
  </div>
</div>

<!-- <app-tour-consulting-dialog></app-tour-consulting-dialog> -->
