.edit-tour-wrapper .form-control input {
  display: block;
  width: 100%;
  height: 48px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: inset 0 0 0 0 white;
  border-color: #d2d6de;
  font-size: 15px;
}

.edit-tour-wrapper .first-block .mat-mdc-text-field-wrapper {
  max-height: 48px;
}

.edit-tour-wrapper .form-control label {
  font-size: 15px;
  color: var(--text-primary-color);
  font-weight: 500;
  margin-bottom: 6px;
}

.edit-tour-wrapper .form-control input:focus {
  outline: 1px solid var(--text-primary-color);
  outline-offset: -2px;
}

.edit-tour-wrapper .form-control input::placeholder {
  font-size: 13px;
}

.edit-tour-wrapper .form-control {
  margin-bottom: 8px;
}

::ng-deep .edit-tour-wrapper .mat-mdc-dialog-container .mdc-dialog__title {
  padding: 0 24px 0px !important;
}

.edit-tour-wrapper textarea {
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: inset 0 0 0 0 white;
  border-color: #d2d6de;
  font-size: 14px;
  padding: 6px 12px;
}

.my-drop-zone {
  border: dotted 3px lightgray;
  padding: 40px;
  text-align: center;
  margin-bottom: 8px;
}
.nv-file-over {
  border: dotted 3px red;
} /* Default class applied to drop zones on over */
.another-file-over-class {
  border: dotted 3px green;
}

.btn-remove-queue {
  color: #fff;
  font-size: 14px;
  background-color: var(--secondary-color);
  text-align: center;
  height: 40px !important;
  min-height: 30px !important;
  margin-top: 4px;
}
.btn-remove-item {
  color: #fff;
  font-size: 14px;
  background-color: var(--secondary-color);
  text-align: center;
  padding: 3px;
  border-radius: 2px;
}

::ng-deep .edit-tour-wrapper .mat-mdc-select {
  font-size: 14px;
}
