.create-tour-wrapper .form-control input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: inset 0 0 0 0 white;
  border-color: #d2d6de;
  font-size: 15px;
}

.create-tour-wrapper .form-control label {
  font-size: 15px;
  color: var(--text-primary-color);
  font-weight: 500;
  margin-bottom: 6px;
}

.register-wrapper .form-control input:focus {
  outline: 1px solid var(--text-primary-color);
  outline-offset: -2px;
}

.register-wrapper .form-control input::placeholder {
  font-size: 13px;
}

.register-wrapper .form-control {
  margin-bottom: 8px;
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__title {
  padding: 0 24px 0px !important;
}
.create-tour-wrapper .mat-mdc-form-field {
  width: 100% !important;
}

.create-tour-wrapper textarea {
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: inset 0 0 0 0 white;
  border-color: #d2d6de;
  font-size: 14px;
  padding: 6px 12px;
}
