<div class="tour-detail-notice-wrapper">
  <h2 class="page-subtitle">Thông tin cần lưu ý</h2>
  <mat-tab-group>
    <mat-tab [label]="'Giá bao gồm'">
      <div class="bg-base-100 border-base-300 rounded-box p-6 w-full">
        <h3><b>Vận Chuyển:</b></h3>
        <div>
          <p class="break-words">
            - Vé máy bay Vietjet Air khứ hồi Sài Gòn – Bangkok – Sài Gòn,hành lý
            07kg xách tay + 20kg hành lý kí gửi.
          </p>
          <p>- Xe máy lạnh phục vụ riêng cho đoàn suốt tuyến</p>
          <p>- Các loại thuế phí sân bay, xăng dầu, an ninh,…</p>
        </div>
        <h3><b>Lưu Trú:</b></h3>
        <div>
          <p>
            - Khách sạn 4 - 5 sao tiêu chuẩn Thái Lan, 2 hoặc 3 khách người lớn
            1 phòng, trường hợp khách đi lẻ sẽ ở ghép với khách khác hoặc sẽ phụ
            thu phòng đơn.
          </p>
        </div>
        <h3><b>Khác: </b></h3>
        <div>
          <p>
            - Ăn uống theo chương trình, 4 bữa sáng Buffet khách sạn, 07 bữa ăn
            chính.
          </p>
          <p>
            - Vé tham quan một lần các điểm trong chương trình, HDV tiếng Việt
            suốt tuyến
          </p>
          <p>
            - Nón du lịch, nước phục vụ hàng ngày (01 chai trên xe và 01 chai
            tại khách sạn)
          </p>
          <p>- Bảo hiểm du lịch quốc tế.</p>
        </div>
      </div></mat-tab
    >
    <mat-tab [label]="'Giá không bao gồm'">
      <div role="" class="bg-base-100 border-base-300 rounded-box p-6">
        <p>- Tiền TIP cho HDV + Tài xế địa phương.</p>
        <p>
          - Chi phí cá nhân ngoài chương trình: giặt ủi, điện thoại, minibar…
        </p>
        <p>
          -&nbsp;Vé Combo Cáp Treo Bà Nà Hills + Buffet trưa theo quy định của
          Sungroup.
        </p>
      </div>
    </mat-tab>
    <mat-tab [label]="'Phụ thu'">
      <div class="domestic">
        <p>- Phòng đơn: 1.800.000 vnđ/khách/tour.</p>
        <p>- Phụ thu người nước ngoài: 500.000 vnđ/khách/tour.</p>
        <p><b>Giá Trẻ Em:</b></p>
        <p>
          - Dưới 05 tuổi: Giá như trên web (chi phí phát sinh trên tour gia đình
          tự chi trả). Hai người lớn chỉ được kèm theo 01 trẻ, từ trẻ thứ hai
          tính theo gói trẻ em 5t trở lên.
        </p>
        <p>
          - Từ 05 - dưới 10 tuổi: Giá như trên web (ngủ ghép với gia đình). Hai
          người lớn chỉ được kèm theo 01 trẻ, từ trẻ thứ hai tính giá như người
          lớn.
        </p>
        <p>- Từ 10 tuổi trở lên: Giá tour như người lớn.</p>
      </div>
      <div class="international hidden">
        <p><b>Giá Trẻ Em:</b></p>
        <p>
          - Giá trẻ em từ 2 - dưới 11 tuổi: 90% giá tour (Ngủ chung người lớn).
        </p>
        <p>- Từ 11 tuổi trở lên: Tính bằng giá tour người lớn.</p>
        <p>Hai người lớn chỉ đi kèm một bé, bé thứ hai tính giá người lớn.</p>
      </div>
    </mat-tab>
    <mat-tab [label]="'Thông tin Visa'">
      <div role="" class="bg-base-100 border-base-300 rounded-box p-6">
        <p>
          - Hộ chiếu gốc còn giá trị sử dụng trên 6 tháng tính đến ngày kết thúc
          chuyến đi. Nếu từng sử dụng hộ chiếu cũ, xin vui lòng photo copy kèm
          theo
        </p>
        <p>- Hai đơn xin cấp visa có chữ ký của khách hàng</p>
        <p>- Chứng minh nhân dân (photo có công chứng mới nhất )</p>
        <p>- Xác nhận thường trú (mẫu CT07) hoặc xác nhận tạm trú (mẫu CT08)</p>
        <p>
          - Bản sao công chứng giấy đăng ký kết hôn (nếu vợ chồng đi cùng nhau).
        </p>
        <p>- Bản sao công chứng Giấy khai sinh (nếu con theo bố mẹ)</p>
        <p><b>Tài chính</b></p>
        <p>
          - Giấy tờ chứng minh công việc hiện tại: HĐLĐ/Giấy xác nhận nhân viên;
          Giấy đăng kí kinh doanh + Giấy tờ nộp thuế; Quyết định nghỉ hưu/thẻ
          hưu trí,…
        </p>
        <p>- Sao kê tài khoản trả lương (6 tháng gần nhất)</p>
        <p>- Bản gốc xác nhận số dư + Sổ tiết kiệm photo</p>
        <p>- Hoặc Giấy chứng nhận thu nhập do cơ quan nhà nước cấp</p>
        <p><b>Yêu cầu khác</b></p>
        <p>
          - Trong quá trình xét duyệt visa, nếu ĐSQ/LSQ cần bổ sung thêm hồ sơ
          chứng minh khác, quý khách vui lòng bổ sung thêm.
        </p>
        <p>
          - Việc không được nhập cảnh Nhật Bản nằm ngoài trách nhiệm của công ty
          du lịch
        </p>
      </div>
    </mat-tab>
    <mat-tab [label]="'Hủy đổi'">
      <div role="" class="bg-base-100 border-base-300 rounded-box p-6">
        <p>
          Nếu hủy tour khách thanh toán các khoản lệ phí hủy tour, hủy vé máy
          bay theo điều khoản bên dưới:
        </p>
        <p>- Ngay sau khi kí hợp đồng: 50% giá tour.</p>
        <p>- Từ 45 ngày đến 30 ngày: 70% giá tour.</p>
        <p>- Từ 29 đến 15 ngày: 90% giá tour.</p>
        <p>- Trong vòng 14 ngày: 100% giá tour.</p>
        <p>
          Trường hợp có Visa mà khách hủy tour Công ty sẽ giữ Visa lại cho đến
          khi hết hạn
        </p>
        <p>
          Thời gian hủy tour được tính cho ngày làm việc, không tính thứ bảy và
          chủ nhật
        </p>
        <p>
          Nếu hủy chuyến du lịch sau khi Đại Sứ Quán, Lãnh Sự Quán đã cấp visa:
          công ty du lịch có quyền hủy visa đã có
        </p>
        <p>
          Việc hủy bỏ tour với công ty phải được thông báo trực tiếp qua Fax,
          email và phải được Công ty du lịch xác nhận. Việc hủy bỏ qua điện
          thoại không được chấp thuận.
        </p>
      </div></mat-tab
    >
    <mat-tab [label]="'Lưu ý'">
      <div role="" class="bg-base-100 border-base-300 rounded-box p-6">
        <div class="note-domestic">
          <p>
            - Khách trên 14 tuổi bắt buộc mang theo Chứng minh nhân dân không
            quá 15 năm kể từ ngày cấp, hoặc giấy phép lái xe rõ hình rõ chữ hoặc
            passport còn hạn trên 6 tháng đối với người Việt Nam. Đối với người
            nước ngoài mang theo passport còn hạn trên 6 tháng.(đặc biệt quan
            trọng)
          </p>
          <p>
            - Đặc biệt, khách trên 14 tuổi nhưng chưa có Chứng minh nhân dân thì
            sẽ làm giấy xác nhận nhân thân có chứng nhận của Uỷ Ban Phường để
            được làm thủ tục bay.
          </p>
          <p>
            - Do tính chất là đoàn ghép khách lẻ, Du Lịch sẽ có trách nhiệm nhận
            khách đăng ký cho đủ đoàn (10 khách người lớn trở lên) thì đoàn sẽ
            khởi hành đúng lịch trình. Nếu số lượng đoàn dưới 10 khách, công ty
            có trách nhiệm thông báo cho khách trước ngày khởi hành 3 ngày và sẽ
            thỏa thuận lại ngày khởi hành mới hoặc hoàn trả toàn bộ số tiền đã
            đặt cọc tour.
          </p>
          <p>
            - Trong trường hợp tour du lịch bị hủy hoặc thay đổi do bất khả
            kháng như thiên tai, an ninh, hoặc vấn đề hàng không, công ty sẽ
            thay đổi lịch trình để đảm bảo an toàn cho khách hàng và không chịu
            trách nhiệm bồi thường tổn thất hoặc phát sinh nếu có. Công ty sẽ nỗ
            lực giảm thiểu thiệt hại cho đôi bên.
          </p>
          <p>
            - Đối với sự thay đổi lịch trình, giờ bay do lỗi của hãng hàng
            không, tàu hoả, tàu thuỷ, Công ty sẽ không chịu trách nhiệm bất kỳ
            phát sinh nào do lỗi trên như: phát sinh bữa ăn, nhà hàng,khách sạn,
            phương tiện di chuyển, hướng dẫn viên, ….
          </p>
          <p>
            Trường hợp có Visa mà khách hủy tour Công ty sẽ giữ Visa lại cho đến
            khi hết hạn
          </p>
          <p>
            Thời gian hủy tour được tính cho ngày làm việc, không tính thứ bảy
            và chủ nhật
          </p>
          <p>
            Nếu hủy chuyến du lịch sau khi Đại Sứ Quán, Lãnh Sự Quán đã cấp
            visa: công ty du lịch có quyền hủy visa đã có
          </p>
          <p>
            Việc hủy bỏ tour với công ty phải được thông báo trực tiếp qua Fax,
            email và phải được Công ty du lịch xác nhận. Việc hủy bỏ qua điện
            thoại không được chấp thuận.
          </p>
        </div>
        <div class="note-international hidden">
          <p>
            - Khách hàng cần đọc kỹ chương trình và điều khoản khi đăng ký tour.
          </p>
          <p>- Hồ sơ visa không hoàn trả sau khi nộp Lãnh Sự Quán.</p>
          <p>
            - Không chịu trách nhiệm hoàn tiền nếu khách không được xuất nhập
            cảnh do lý do cá nhân.
          </p>
          <p>
            - Ngày khởi hành có thể dời lại ít nhất 1 tuần do phụ thuộc vào kết
            quả visa của Lãnh sự.
          </p>
          <p>
            - Khuyến nghị không tự mua vé máy bay nếu chưa có xác nhận khởi hành
            từ công ty.
          </p>
          <p>
            - Quý khách mang quốc tịch nước ngoài có visa tái nhập Việt Nam 01
            lần phải làm visa tái nhập VN để nhập cảnh vào VN lần tiếp theo.
          </p>
          <p>
            - Thông báo ngay nếu có hai quốc tịch hoặc không có hộ chiếu VN còn
            hiệu lực.
          </p>
          <p>- Trẻ em không đi cùng bố mẹ cần giấy ủy quyền xác nhận.</p>
          <p>
            - Khách từ 70-79 tuổi yêu cầu cam kết sức khỏe và có thể phải đóng
            phí bảo hiểm cao cấp.
          </p>
          <p>
            - Không nhận khách từ 80 tuổi trở lên và phụ nữ mang thai từ tháng
            thứ 5.
          </p>
          <p>
            - Tùy theo hồ sơ sẽ yêu cầu ký quỹ cho Công ty từ 300 triệu
            VND/khách, hoàn trả sau tour.
          </p>
          <p>- Các thay đổi giờ bay có thể xảy ra mà không báo trước.</p>
          <p>
            - Hỗ trợ giấy tờ khi mất cắp, không bồi thường chi phí phát sinh.
          </p>
          <p>
            - Không được tách đoàn hoặc để người thân tham gia tour, nếu không
            sẽ bị phạt.
          </p>
          <p>
            - Visa giữ đến ngày đi, nếu cần passport phải ký quỹ để đảm bảo mục
            đích visa.
          </p>
          <p>
            - Công ty có quyền thay đổi lộ trình vì lý do khách quan mà không
            bồi thường.
          </p>
          <p>
            - Trong trường hợp tour du lịch bị hủy hoặc thay đổi do bất khả
            kháng như thiên tai, an ninh, hoặc vấn đề hàng không, công ty sẽ
            thay đổi lịch trình để đảm bảo an toàn cho khách hàng và không chịu
            trách nhiệm bồi thường tổn thất hoặc phát sinh nếu có. Công ty sẽ nỗ
            lực giảm thiểu thiệt hại cho đôi bên.
          </p>
        </div>
      </div>
    </mat-tab>
    <mat-tab [label]="'Hướng dẫn vien'">
      <div role="" class="bg-base-100 border-base-300 rounded-box p-6">
        <p>
          - Hướng Dẫn Viên (HDV) sẽ liên lạc với Quý Khách khoảng 2-3 ngày trước
          khi khởi hành để sắp xếp giờ đón và cung cấp các thông tin cần thiết
          cho chuyển đi.
        </p>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
