.noti-container {
  width: 30%;
  min-width: 400px;
  min-height: 170px;
}

.mat-mdc-dialog-title {
  color: var(--text-primary-color) !important;
  font-size: 22px !important;
}

.mdc-dialog__actions {
  position: absolute;
  right: 6px;
  bottom: 6px;
}

.mat-mdc-button {
  text-align: center;
  padding: 18px 23px;
  color: #fff !important;
  background: var(--primary-color);
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  transition: all 0.5s ease;
  text-decoration: none;
}
.mat-mdc-button:hover {
  background: var(--secondary-color);
}
