.my-drop-zone {
  border: dotted 3px lightgray;
  padding: 40px;
  text-align: center;
  margin-bottom: 8px;
}
.nv-file-over {
  border: dotted 3px red;
} /* Default class applied to drop zones on over */
.another-file-over-class {
  border: dotted 3px green;
}

.btn-remove-queue {
  color: #fff;
  font-size: 14px;
  background-color: var(--secondary-color);
  text-align: center;
  height: 40px !important;
  min-height: 30px !important;
  margin-top: 4px;
}
.btn-remove-item {
  color: #fff;
  font-size: 14px;
  background-color: var(--secondary-color);
  text-align: center;
  padding: 3px;
  border-radius: 2px;
}

.review-box textarea {
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: inset 0 0 0 0 white;
  border-color: #d2d6de;
  font-size: 14px;
  padding: 6px 12px;
  margin-bottom: 10px;
}

.score-span {
  border-radius: 5px;
  padding: 5px 16px;
  color: #ffffff;
  background-color: #9fc43a;
  font-size: 18px;
}

.score-span.low-point,
.score-span-mini.low-point {
  background-color: rgb(192, 192, 7) !important;
}

.score-span-mini {
  border-radius: 2px;
  padding: 5px 10px;
  color: #ffffff;
  background-color: #9fc43a;
  font-size: 14px;
}
.text-rating {
  font-size: 14px;
  color: var(--blender-sky-color);
}

.text-rating.low-point {
  color: rgb(192, 192, 7) !important;
}
